<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .form{

        font-family: Arial, sans-serif;
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
    }
    .button{
        text-align: center;
    }

    </style>
</head>
<body>
    <h1 style="text-align: center ;color: rgb(75, 4, 118);">This is Delete Form</h1>
    <form action="/delete" method="post" class="form">
        <input type="text" name ="name" placeholder="Enter Name"> <br><br>
        <input type="password" name="password" placeholder="Enter Your password"><br><br>
        <button type="submit" class="button">Delete</button>
    </form>
</body>
</html>